:root {
    --color-primary-hsl: 210deg 30% 50%;
    --color-primary-hsl-light: 210deg 30% 90%;
    --color-primary: hsl(var(--color-primary-hsl));
    --color-primary-light: hsl(var(--color-primary-hsl-light));
}

* { box-sizing: content-box; }
html,body { margin: 0; padding: 0 }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #555;
}
body::before {
    ---background-color-base: transparent;
    ---background-color-bar: var(--color-primary-light);
    z-index: -1;
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(calc(180deg - 2deg), var(---background-color-bar) 50%, transparent calc(50% + 1px)), linear-gradient(to bottom, var(---background-color-bar) 120px, var(---background-color-base) 120px);
    background-position: 50% 100px, 0% 0;
    background-size: 5000px 100px, 100% 100%;
    background-repeat: no-repeat;
}
/* n-component {
    display: inline-block;
    width: max-content;
} */